*{
    margin: 0;
    padding: 0;
    background-color:rgb(223, 223, 223) !important;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner{
    /* background-image: url(img/banner.jpg); */
    /* background-size:contain;                          //   no logro que salgo correcto de esta forma!!!!
    background-repeat: no-repeat;
    background-attachment: fixed; */
    display: flex;
    width: 100%;
    height: auto;
   
}
.banda{
    padding: 10px;
    margin: 20px 5px;
    font-size: 20px;
    font-stretch: normal;
   text-align:justify;/* <!-- algo hay q poner --> */
}

nav{
    display: inline;
    background-color:rgb(223, 223, 223);
    float: right;
    /* padding: 10px ; */
    width: 100%;
    height: auto;    
}
nav ul {
    display: inline-flex;
    float: right;
}
nav ul li  {
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    color:rgb(3, 3, 3);
    padding: 5px 20px ;
     
}
nav ul li a {
    text-decoration:none;
    color:rgb(3, 3, 3);
}


nav ul :hover{
    background-color: rgba(180, 183, 255, 0.286);
    cursor: pointer;
}
@media (max-width:700px) {
    nav {
        flex-direction: row;
       
    }
   
    nav ul li {
        display: inline-flex;
        font-size: 15px;        
        padding: 5px 10px ;
        width: 100%;
        height: auto;
        
        
    }
    .banda{
        font-size: 15px;
    }
   
}
h1, h2 {
    margin: 20px;
    text-align:center;
    text-shadow: 2px 4px rgba(180, 183, 255, 0.286);
}
#reci{
    margin: 40px !important;
    /* background-color: white !important; */

}
footer{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: black !important;
    justify-content: center;
}
.foot p{
    font-size: 18px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 0;
    background-color: black !important;
}
.foot{
    display: inline-flex;
    margin: auto;
    align-items: center;
    background-color: black !important;
}
.foot i{
    margin-right: 8px;
    background-color: black !important;
}